div {
  padding: .5em;

}

#mainDiv {
  border: #336633 solid 5px;
  margin: 1em
}

h1 {
  display: flex;
  justify-content: center;
  margin: 1em
}

img {
  float: left;
  margin-right: .4em;
}

@media (max-width:750px) {
  img {
    float: none;
    margin: 0;
    display: none;
  }
}
