<h1>Listen to Sound Doctrine</h1>

<div *ngIf="selector !== ''">
  <div id="searchDiv">
    <h3>Filter Broadcasts</h3>

    <select (change)=filterSubmit(month) class="select-css" #month id="monthSelect">
      <option [selected]="selector == item" *ngFor="let item of monthArray">  
        {{item}}
     </option>
    </select>
  </div>
  
  <h1> {{month.value}}</h1>
  


  <ng-container *ngIf="month.value !== undefined">
    <div *ngFor="let item of messages">
      <div *ngIf="item.month === month.value">
        <h3>{{item.title}}</h3>

        <audio controls>
          <!-- ************************************************* -->
          <!-- when I go into Prod, will need to update src -->
          <!-- DEV : http://localhost:3000/audio/{{item.name}} -->
          <!-- PROD : https://sound-doctrineministry.org/audio/{{item.name}} -->
          <!-- If changes to the source are needed, ensure the below span is updated with the same minus the {{item.name}} -->
          <source id="src" type="audio/mp3" src='https://sound-doctrineministry.org/audio/{{item.name}}'>
        </audio>
      </div>
    </div>
  </ng-container>
  <!-- Unable to test inside a ng-container at the moment.  As a short cut, will test this span to ensure its ID.  Must remember to ensure the src in Source matches the span in order 
  for tests to work correctly -->
  <span style="display: none;" id='https://sound-doctrineministry.org/audio/'></span>
</div>
