@import '~@vime/core/themes/default.css';

div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;

}

h4 {
  margin: .8em;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 1em;
  text-align: center;
  flex-wrap: nowrap;
}

/* Player Stuff */

vime-player {
  margin-bottom: 2em;
  width: 90%;
  --vm-player-theme: #d9ead9;
  --vm-color-dark: #336633;
  --vm-control-color: #d9ead9;
}

button {
  background-color: #336633;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  color: #d9ead9;
  padding: .5em;
  margin-top: 1em;
}

.btnGroup {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

/* Search Area */
#searchDiv {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: flex-start;
}

/* BroadCast Area */
.mainDiv {
  width: 90%;
  display: flex;
  margin: .5em;
  padding: .8em;
  flex-direction: row;
  justify-content: space-between;
  /* border: #336633 solid 5px; */
}

.mainDiv>div {
  align-items: flex-start;
}


/* Select Tag Styling from https://www.filamentgroup.com/lab/select-css.html */
.select-css {

  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #d9ead9;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 30%;
  max-width: 90%;
  box-sizing: border-box;
  background-color: #336633;

}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #d9ead9;
}

.select-css:focus {
  border-color: #d9ead9;
  box-shadow: 0 0 1px 3px rgba(217, 234, 217, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #d9ead9;
  outline: none;
}

.select-css option {
  font-weight: normal;
}

/* Screen Size Area */
@media (max-width:1000px) {
  .mainDiv {
    flex-direction: column;
  }
}

@media (max-width:650px) {
  h1 {
    align-self: center;
  }

  h3 {
    margin: 1em
  }

  .select-css {
    width: 60%
  }

  #searchDiv {
    flex-direction: column;
  }

}


/* divider */
.divider {
  /* margin-top: 3em; */
  margin-bottom: 4em;
  width: 100%;
  height: 2em;
  border: none;
  background: rgb(217, 234, 217);
  background: linear-gradient(180deg, rgba(217, 234, 217, 1) 0%, rgba(51, 102, 51, 1) 27%, rgba(51, 102, 51, 1) 73%, rgba(217, 234, 217, 1) 100%) !important;
}
