<h1>Doctrinal Statement</h1>
<div class="mainDiv">
  <div>
    <h5>1. THE BIBLE</h5>
    <p>The Bible, consisting of the sixty-six books of the Old and New Testaments, in the autographs, is the inerrant,
      unalterable and complete Word of God, the final authority in all matters of faith and practice. We believe in the
      normal, literal, and consistent interpretation of the Scriptures; and a dispensational understanding of God’s
      progressive revelation. 2 Tim. 3:16-17; 2 Peter 1:20-21; Jude 3</p>
  </div>
  <div>
    <h5>2. GOD</h5>
    <p>There is one God, eternally existing in three Persons: Father, Son and Holy Spirit.
      Deut. 6:4; Matt. 28:19; Luke 3:21-22</p>
  </div>
  <div>
    <h5>3. JESUS CHRIST</h5>
    <p>The Lord Jesus Christ became man without ceasing to be God, is the only begotten Son of God, conceived by the
      Holy
      Spirit, born of the virgin Mary, and is true God and true man. Luke 1:30-35; John 1:18; 3:16; Phil. 2:5-11</p>
  </div>
  <div>
    <h5>4. MAN</h5>
    <p>Man was created in the image of God and is a tri-part being, spirit, soul and body. Man sinned and thereby not
      only
      incurred physical death but also spiritual death, which is separation from God. As a consequence all men are
      declared by God to be totally depraved, having inherited a sinful nature and having become sinners in thought,
      word
      and deed. Gen. 1:22-27; 2:16-17; 3:6-19; Rom. 3:10-23; 6:23; 7:18; 11:32; Gal. 3:22; 1 Thess. 5:23</p>
  </div>
  <div>
    <h5>5. ATONEMENT</h5>
    <p>The Lord Jesus Christ died as a substitutionary and complete sacrifice, an unlimited atonement (propitiation) for
      the sins of the whole world. Only those who believe (receive, trust) in Him are saved on the ground of His shed
      blood. Rom. 3:24-25; 5:8-10; 1 Tim. 2:5-6; 1 John 2:1-2</p>
  </div>
  <div>
    <h5>6. RESURRECTION OF CHRIST</h5>
    <p>The Lord Jesus Christ arose from the dead in the same body, though glorified, in which He was crucified; He
      ascended into heaven and is now at the right hand of the Father as head of the Church and our Great High Priest,
      our
      Intercessor and Advocate. John 20:1-29; Acts 1:9-11; Eph. 1:20-23; Heb. 1:3; 4:14-16; 7:25; 1 John 2:1</p>
  </div>
  <div>
    <h5>7. SECOND ADVENT OF CHRIST</h5>
    <p>The Lord Jesus Christ will come again personally and bodily; His coming is imminent (at any moment),
      pretribulational and premillennial; He will first come in the air prior to the seven year Tribulation, to receive
      the Church, His Body, to Himself in heaven. Following the Great Tribulation spoken of by the prophets, He will
      return visibly to the earth with His saints to inaugurate His thousand year kingdom of universal peace and
      righteousness. Acts 1:11; 1 Cor. 15:51-58; 1 Thess. 4:13-18; 2 Peter 3:1-13; Rev. 19:11-16; 20:1-6</p>
  </div>
  <div>
    <h5>8. HOLY SPIRIT</h5>
    <p>The Holy Spirit is the Person of the Godhead who in this present age convicts the world of sin, righteousness,
      and
      judgment; who regenerates and baptizes into the body of Christ those who believe; and who indwells and seals them
      unto the day of redemption. The Holy Spirit is the Divine Teacher (Anointing) who guides believers into all truth.
      It is the privilege of believers to be filled with, and their duty to walk in, the Holy Spirit. John 16:13;
      Galatians 5:16; Ephesians 5:18; 1 John 2:20, 27
      The Holy Spirit bestows spiritual gifts, which are supernatural enablements for Christian service and the
      edification of the Church. The foundation of the Church was laid by the apostles and prophets with their sign
      gifts
      confirming their message. The sign gifts (i. e. tongues, healing, miracles) and revelatory gifts (i. e. prophecy,
      knowledge, wisdom) ceased with the completion of the written revelation. Romans 12:6-8; 1 Corinthians 13:8-10; 2
      Corinthians 12:12; Ephesians 2:20; 1 Peter 4:10-11.</p>
  </div>
  <div>
    <h5>9. THE TWO RESURRECTIONS</h5>
    <p>The souls of the redeemed are, at death, absent from the body and present with the Lord, where in conscious bliss
      they await the first resurrection, when spirit, soul, and body are reunited and glorified.
      The souls of unbelievers are, at death, absent from the body and in conscious misery until the second
      resurrection,
      when with soul and body reunited they shall appear at the Great White Throne Judgment. They shall be cast into the
      lake of fire, not to be annihilated, but to suffer everlasting conscious punishment. 1 Cor. 15:1-50; 1 Thess.
      4:13-18; Rev. 20:11-15; 21:22</p>
  </div>
  <div>
    <h5>10. SALVATION</h5>
    <p>On the sole condition of faith in the Lord Jesus Christ men are born again by the Holy Spirit. At regeneration
      all
      believers in this age are indwelt by the Holy Spirit, baptized by the Holy Spirit into the Body of Christ and
      sealed
      by the Holy Spirit unto the day of redemption. Rom. 3:24-28; 8:9-11; 1 Cor. 12:13; Eph. 4:30</p>
  </div>
  <div>
    <h5>11. SECURITY</h5>
    <p>The believer in Christ is accepted in the Beloved, kept by the power of God, and thus secure in Christ forever.
      Every believer may have full assurance of his salvation. John 10:27-30; Romans 8:1, 38-39; 1 John 5:11-13</p>
  </div>
  <div>
    <h5>12. SANCTIFICATION</h5>
    <p>Sanctification, which is separation unto God, is threefold: positionally, the believer was sanctified at his
      conversion by virtue of his union with Christ; progressively, he is continually being sanctified through the Word
      as
      he walks in the Spirit, thereby producing the fruit of the Spirit; ultimately, he will be completely conformed to
      the image of Christ when he sees his Savior face to face. John 17:17; Eph. 5:26; Col, 3:1-4; Heb. 10:14; 1 John
      3:1-3</p>
  </div>
  <div>
    <h5>13. THE FLESH</h5>
    <p>Every saved person has an enemy within which hates God and will never be subject to Him. This enemy is called
      “the
      flesh.” The flesh is not the body, but our sinful nature which dwells within our body. In ourselves we cannot
      defeat
      the flesh, but God has made provision for us to have victory over the flesh by giving us the Holy Spirit. All
      claims
      to the eradication of the sinful nature in this life are unscriptural. Romans 8: 2, 4, 12-13; Galatians 4:6;
      5:16-25; Ephesians 4:22-24; 1 John 1:5-10</p>
  </div>
  <div>
    <h5>14. THE CHURCH</h5>
    <p>The Church is the Body and Bride of Christ, composed of all who are born again during this dispensation of grace,
      which began at Pentecost and will be terminated at the rapture. This Church universal is to gather together as
      local
      churches or assemblies after the pattern of New Testament doctrine and practice, including the observance of the
      ordinances of water baptism by immersion and the Lord’s Supper. God performs the ministry of His Church through
      its
      members to whom He has given gifts for the purpose of edifying the Body of Christ. Acts 2:1-47; Rom. 12:1-8; 1
      Cor.
      11:23-34; Eph. 1:22-23</p>
  </div>
  <div>
    <h5>15. MISSION</h5>
    <p>The Great Commission was given to the Church, and this task of world evangelization is the mission of the Church
      today. Matt. 28:18-20; Rom. 10: 9-17; Eph. 4:7-16</p>
  </div>
  <div>
    <h5>16. THE GOSPEL</h5>
    <p>The Good News, or Gospel, is that “Jesus is the Christ, the Son of God,” who died for our sins, according to the
      Scriptures, He was buried, and rose the third day, according to the Scriptures. The addition of works such as
      water
      baptism or surrender to the Lordship of Christ as prerequisites are false conditions for salvation. John 20:31;
      Rom.
      1:16; 1 Cor. 15:1-4</p>
  </div>
  <div>
    <h5>17. ANGELS AND DEMONS</h5>
    <p>Angels are spirit beings, created by God to worship Him, and as “ministering spirits, sent out to render service
      for the sake of those who will inherit salvation.” Satan is a created being, a fallen angel, the author of sin,
      the
      tempter in the fall, the declared enemy of God and man, and the god of this age. He employs demonic spirits, who
      are
      fallen angels in rebellion with him, to possess and manipulate the unsaved and persecute the redeemed. He and his
      demons will be eternally tormented in the lake of fire. Job 1:6, 7; Isa. 14:12-17; Matt. 4:2-11; 25:41; Heb. 1:14;
      Rev. 20:19</p>
  </div>
  <div>
    <h5>18. CREATION</h5>
    <p>“In six days the Lord created the heavens and the earth, the sea and all that is in them,” (Exodus 20:11) by the
      word and command of His mouth. The days of Genesis 1 are normal, literal days, and the triune God used no
      secondary
      means (e.g., evolution) or preexisting matter to create all that now exists. Genesis 1-2; Psalm 33:6, 9; Hebrews
      11:3</p>
  </div>
  <div>
    <h5>19. DISPENSATIONALISM</h5>
    <p>The Scriptures interpreted in their natural, literal sense reveal divinely determined dispensations, which are
      distinguishable administrations in the outworking of God’s purpose and plan of the ages. The dispensations are
      seven
      in number, as outlined in the original Scofield Study Bible. Dispensations are not different ways of salvation;
      salvation in every dispensation is always by grace through faith in the shed blood of Christ. John 1:17; 1
      Corinthians 9:17; Ephesians 1:10; 3:2-10; Colossians 1:24-25; 1 Timothy 1:3-11</p>
  </div>
</div>
