<header>
  <nav>
    <img routerLink="/" src="../assets/SDLogo.png" alt="">
    <div id="navMenuMobile">
      <button mat-icon-button [matMenuTriggerFor]="appMenu">Menu</button>
      <mat-menu #appMenu="matMenu">
        <button class="dropDown" mat-menu-item routerLink="/" routerLinkActive="active">Home</button>
        <button class="dropDown" mat-menu-item routerLink="/stream" routerLinkActive="active">Listen</button>
        <button class="dropDown" mat-menu-item routerLink="/doctrine" routerLinkActive="active">Doctrinal
          Statement</button>
        <button class="dropDown" mat-menu-item routerLink="/about" routerLinkActive="active">About</button>
        <button class="dropDown" mat-menu-item routerLink="/contact" routerLinkActive="active">Contact</button>
        <button class="dropDown" mat-menu-item routerLink="/reference" routerLinkActive="active">Book
          References</button>
        <button mat-menu-item routerLink="/upload" *ngIf="_authService.loggedIn()"
          routerLinkActive="active">Upload</button>
        <button class="dropDown" mat-menu-item *ngIf="_authService.loggedIn()"
          (click)="_authService.logoutUser()">Logout</button>
      </mat-menu>
    </div>

    <div id=navMenuStandard>
      <button mat-menu-item routerLink="/" routerLinkActive="active">Home</button>
      <button mat-menu-item routerLink="/stream" routerLinkActive="active">Listen</button>
      <button mat-menu-item routerLink="/doctrine">Doctrinal Statement</button>
      <button mat-menu-item routerLink="/about" routerLinkActive="active">About</button>
      <button mat-menu-item routerLink="/contact" routerLinkActive="active">Contact</button>
      <button mat-menu-item routerLink="/reference" routerLinkActive="active">Book References</button>
      <button mat-menu-item routerLink="/upload" *ngIf="_authService.loggedIn()"
        routerLinkActive="active">Upload</button>
      <button class="dropDown" mat-menu-item *ngIf="_authService.loggedIn()"
        (click)="_authService.logoutUser()">Logout</button>
    </div>
  </nav>

</header>
<router-outlet></router-outlet>
