<!-- deleted  from the Form tag since the test was throwing an error -->
<form #uploadForm="ngForm" enctype="multipart/form-data">
  <div class="mainDiv">
    
    <h3>Upload Broadcasts here</h3>
    <div>
      <label for="">Broadcast Title</label>
      <input [(ngModel)]="fileJSON.title" name="title" type="text" required>
    </div>
    <div>
      <label for="">Month</label>
      <select class="btn" name="month" [(ngModel)]="fileJSON.month">
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>

      </select>
    </div>
    <div>
      <label for="">File</label>
      <input (change)="fileEvent($event)" type='file' name="audioFile" required accept="audio/mp3">
    </div>
    <div>
      
      <label for="">Episode</label>
      <input [(ngModel)]="fileJSON.episode" name="test" type="number">
    </div>

    <button class="btn" (click)="upload(); uploadForm.reset()">Upload</button>
    <button class="btn" routerLink="/manage" *ngIf="_authService.loggedIn()" routerLinkActive="active">Manage
      Broadcasts</button>
    <div *ngIf="htmlHide" class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>

</form>
